<%= form_for @message, :html => { :class => "form-horizontal" } do |f| %>
  <% if not @message.nil? and @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group required">
    <%= f.label(:title, class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :title, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(:body, "Message", class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_area :body, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label(:titulo, class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :titulo, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(:cuerpo, class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_area :cuerpo, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label  :message_type, class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.select(:message_type, options_for_select(['success', 'info', 'warning', 'danger'], "#{@message.message_type}")) %>
    </div>
  </div>

  <div class="form-group">
    <div class="controls col-md-8">
      <%= button_tag type: 'submit', class: "btn btn-primary btn-info" do %>
      <i class="fa fa-archive"></i><%= (t'buttons_t.save')%>
      <% end %>
    </div>
  </div>
<% end %>
