<div class="", style="text-align: center;">
  <%= link_to "Active", messages_path %> <b>|</b>
  <%= link_to "Inactive", inactive_messages_path %>
</div>
<div class="messages">
  <% @messages.each do |message| %>
    <div class="message">
      <div class="row">
        <div class="controls col-sm-7 col-md-9">
          <h4><%= message.title %></h4>
          <p><%= message.body %></p>
        </div>
        <div class="controls col-sm-5 col-md-3">
          <%= link_to "edit", edit_message_path(message), class: "btn btn-sm btn-secondary" %>
          <%= link_to "delete", message, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-secondary" %>
          <% if message.posted? %>
            <%= button_to unpost_message_path(message), class: "btn btn-sm btn-success", method: :put do %>
              <i class="fa fa-check-square"></i> <%= (t'buttons_t.unpost')%>
            <% end %>
          <% else %>
            <% if message.posted_at.nil? %>
              <%= button_to post_message_path(message), class: "btn btn-sm btn-primary", method: :put do %>
                <i class="fa fa-square"></i> <%= (t'buttons_t.post')%>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div><br/>
<!-- New Message link -->
<div>
  <%= button_to new_message_path, class: "btn btn-primary btn-block", method: :get do %>
    <i class="fa fa-plus"></i> <%= (t'buttons_t.new')%>
  <% end %>
</div>
<!-- pagination -->
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
