<div class="jumbotron" style="margin-top: 20px">
  <h2><%= @message.title%></h2>
  <p><%= auto_link(@message.body, html: {target: '_blank'}) %></p>
  <%= link_to "Back", messages_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_message_path(@message), class: "btn btn-secondary" %>
  <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-secondary" %>
</div>
