<div class="jumbotron" id="jumbotron">
  <h2><%= @message.title%></h2>
  <% if @message.posted_at? %>
    <p class="time-stamp"><%= @message.posted_at.strftime("%b %d, %Y %I:%M %p")%></p>
  <% else %>
    <p class="time-stamp"><%= @message.created_at.strftime("%b %d, %Y %I:%M %p")%> (created)</p>
  <% end %>
  <p class="message-body"><%= auto_link(@message.body, html: {target: '_blank'}) %></p>
  <%= link_to "Back", messages_path, class: "btn btn-info" %>
</div>
