<% content_for :title do %><%=(t'faq.nav') %> | Conectate Carolina<% end %>
<div class="form-horizontal">
  <h1><%= (t'faq.h1') %></h1>
  <% @faqs.each do |question| %>
    <% if params[:locale] == "en" %>
      <div class="faq_question">
        <%= (question.question) %><br>
      </div>
      <ul id="faq_answer">
        <li><%= markdown(question.answer)%></li>
      </ul>
    <% else %>
    <div class="faq_question">
      <%= question.pregunta %>
    </div>
    <ul id="faq_answer">
      <li><%= markdown(question.respuesta) %></li>
    </ul>
    <% end %>
  <% end %>
  <% if policy(Faq).new? %>
    <%= link_to "New Question", new_faq_path %>
  <% end %>
</div>
