<% content_for :title do %>FAQ<% end %>
<div class="jumbotron col-lg-10 center">
  <h1> Frequently Asked Questions </h1>
  <% @question.each do |question| %>
    <% if params[:locale] == "en" %>
      <%= question.question %><br>
      <%= question.answer %></br>
    <% else %>
      <%= question.pregunta %><br>
      <%= question.respuesta %></br>
    <% end %>
  <% end %>
  <%= link_to "new question", new_faq_url %>
</div>
