<% content_for :title do %><%=(t'faq.nav') %> | Conectate Carolina<% end %>
<div class="jumbotron col-lg-12 center">
  <h1><%= (t'faq.h1') %></h1>
  <% @faqs.each do |question| %>
    <% if params[:locale] == "en" %>
    <div id="faq_question">
      <%= question.question%><br>
    </div>
    <ol class="faq_answer">
      <li><%= question.answer %></li>
    </ol>
    <% else %>
    <div id="faq_question">
      <%= question.pregunta %>
    </div>
    <ol class="faq_answer">
      <li><%= question.respuesta %></li>
    </ol>
    <% end %>
  <% end %>
  <% if policy(Faq).new? %>
    <%= link_to "New Question", new_faq_path %>
  <% end %>
</div>
