<%= form_for @faq, :html => { :class => "form-horizontal" } do |f| %>
  <h1><%= (t'faq.new') %></h1>

  <div class="form-group required">
    <%= f.label :question, class: 'control-label col-md-2' %>
    <div class="controls col-md-8">
      <%= f.text_field :question, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :answer, class: 'control-label col-md-2' %>
    <div class="controls col-md-8">
      <%= f.text_area :answer, class: 'input-md  textinput textInput form-control'%>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label :pregunta, class: 'control-label col-md-2' %>
    <div class="controls col-md-8">
      <%= f.text_field :pregunta, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
