<h1><%= "Organization Search" %></h1>

    <%= form_for agencies_path, method: :get do %>
        <%= label :location,  placeholder="Search" %>
        <%= text_field :location, placeholder="Current Location" %>
        <%# type="text" id="gps" name="gps"> %>
        <%= submit_tag "Good" %>
    <% end %>
<script>
var x = document.getElementById("gps");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.value = position.coords.latitude + "," + position.coords.longitude; 
}
getLocation();
</script>