<div class="separate-main">
  <h2 style="color: #1E90FF;">Alert History</h2><br/>

  <div class="ml-5">
    <% @user_messages.each do |user_message| %>
      <div class="row32">
        <div class="col-md borders">
          <div class="left-icon">
            <% case user_message.message_type %>
            <% when "success" %>
              <div class="fa-icon-success", id="icons">
                <%= link_to user_message_path(user_message) do %>
                  <i class="fa fa-exclamation-triangle fa-2x"></i>
                <% end %>
              </div>
            <% when "info" %>
              <div class="fa-icon-info", id="icons">
                <%= link_to user_message_path(user_message) do %>
                  <i class="fa fa-exclamation-triangle fa-2x"></i>
                <% end %>
              </div>
            <% when "warning" %>
              <div class="fa-icon-warning", id="icons">
                <%= link_to user_message_path(user_message) do %>
                  <i class="fa fa-exclamation-triangle fa-2x"></i>
                <% end %>
              </div>
            <% when "danger" %>
              <div class="fa-icon-danger", id="icons">
                <%= link_to user_message_path(user_message) do %>
                  <i class="fa fa-exclamation-triangle fa-2x"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="msg-content">
            <p>
              <b><%= user_message.title if locale == :en %></b>
              <b><%= user_message.titulo if locale == :es %></b><br>
              <span class="time-stamp"><%= distance_of_time_in_words(user_message.posted_at, Time.now)%></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination">
    <div class="page_info">
      <%= page_entries_info @user_messages %>
    </div>
    <%= will_paginate @user_messages, :container => false %>
  </div>
</div>
