<div class="containers">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if locale == :en %>
          <p><b><%= @user_message.title%></b><br/>
          <%= @user_message.posted_at.strftime('%b %d, %I:%M %p') %></p>
          <p class="message-body"><%= auto_link(@user_message.body, html: {target: '_blank'}) %></p>

        <% elsif locale == :es %>
          <p><b><%= @user_message.titulo%></b><br/>
          <%= I18n.l(@user_message.posted_at, format: '%b %d, %I:%M %p', locale: 'es-US') %></p>
          <p class="message-body"><%= auto_link(@user_message.cuerpo, html: {target: '_blank'}) %></p>

        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <%= link_to "Back", user_messages_path, class: "btn btn-success"  %>
    </div>
  </div>
</div>
