<% obj.each do |agency| %>
<div class="col-sm-6 col-lg-4 col-md-6" id="padding-resize">
  <div class="well well-sm well-agency">
    <p class="lead agency-name">
      <strong>
        <%= link_to agency.name, controller: 'agencies',
                                     action: 'show', id: agency.id%>
      </strong>
    </p>
    <p><%=(t'show_page.address') %></p>
    <address class="agency-address">
      <%= agency.full_address %>
    </address>

    <div>
      <p><%= Agency.human_attribute_name("contact") %>
        <%= agency.contact %></p>
      <p><%= Agency.human_attribute_name("phone") %>
        <%= agency.phone %>
      </p>
      <hr>
      <% if agency.categories.any? %>
        <!-- Same effect agency.categories.each do etc...(using partial instead) -->
        <p><%= (t'category.categories') %></p>
        <% agency.categories.each do |category| %>
          <% if params[:locale] == "en" %>
            <%= link_to category.name do %>
              <%= fa_icon category.fa_name, text: category.name, left: true %>
            <% end %>
          <% else %>
            <%= link_to category.categoria do %>
              <%= fa_icon category.fa_name, text: category.categoria, left: true %>
            <% end %>
          <% end %>
        <% end %>
      <% end %><br>

      <% agency.websites.each do |website| %>
      <a href="<%= website.url %>" class="btn btn-default btn-sm btn-link">
        <span class="agency-facebook">
          <i class="fa fa-<%= website.website_type.icon %> fa-lg"></i>
        </span>
      </a>
      <% end %>

    </div>
  </div>
</div>
<% end %>
