<% obj.each do |agency| %>
<div class="col-sm-6 col-lg-4 col-md-6" id="padding-resize">
  <div class="well well-sm well-agency">
    <p class="lead agency-name">
      <strong>
        <%= link_to agency.name, controller: 'agencies',
                                     action: 'show', id: agency.id%>
      </strong>
    <hr>
    </p>
    <div>
    <p><%=(t'show_page.address') %><br></p>
    <address>
      <%= agency.address %><br>
      <%= agency.city %>, <%= agency.state %>, <%= agency.zipcode %> <br>
    </address>
      <!-- check HTML in this agency card   -->
      <p><%= Agency.human_attribute_name("contact") %> <br>
        <%= agency.contact %></p>
      <p><%= Agency.human_attribute_name("phone") %> <br>
        <%= agency.phone %>
      </p>
      <hr>
      <% if agency.categories.any? %>
        <!-- Same effect agency.categories.each do etc...(using partial instead) -->
        <p><%= (t'category.categories') %></p>
        <% agency.categories.each do |category| %>
          <% if params[:locale] == "en" %>
            <%= link_to category_path(category) do %>
              <%= fa_icon category.fa_name, text: category.name, left: true %>
            <% end %>
          <% else %>
            <%= link_to category_path(category) do %>
              <%= fa_icon category.fa_name, text: category.categoria, left: true %>
            <% end %>
          <% end %>
        <% end %>
      <% end %><br/>
    <br/>
      <p><%= (t'show_page.websites')%></p>

      <% agency.websites.each do |website| %>
      <a href="http://<%= website.url %>" class="btn btn-default btn-sm btn-link">
        <span class="agency-facebook">
          <i class="fa fa-<%= website.website_type.icon %> fa-lg"></i>
        </span>
      </a>
      <% end %>

    </div>
  </div>
</div>
<% end %>
