<div class="container">
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
          <div class="panel-title"><%= t'edit_page.h1' %></div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
      </div> 
      <div class="panel-body">

        <%= form_for @agency, :html => { :class => "form-horizontal" } do |f| %>
          <% if not @agency.nil? and @agency.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>
              <ul>
                <% @agency.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group required">
            <%= f.label(:name, "Name: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :name, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:address, "Address: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :address, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:city, "City: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :city, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:state, "State: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :state, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:zipcode, "Zip: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :zipcode, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:contact, "Person of contact: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_field :contact, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group required">
            <%= f.label(:phone, "Telephone: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.telephone_field :phone, class: 'input-md  textinput textInput form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label(:description, "Description: ", class: 'control-label col-md-4') %>
            <div class="controls col-md-8">
              <%= f.text_area(:description, class: 'input-md  textinput textInput form-control') %>
            </div>
          </div>
        <% end %> <%# end of form_for %>
          <div class="form-group">
            <div class="controls col-md-8">
              <%= button_tag type: 'submit', class: "btn btn-primary btn-info" do %>
              <i class="fa fa-archive"></i> SAVE
              <% end %>
            </div>
          </div>

        <%= link_to (t'buttons_t.back'), agencies_path, class: 'btn btn-primary' %>

      </div> <%#end panel-body%>
    </div> <%# end of panel-info div%>
  </div> <%# end of titlebox %>
</div> 