<%= form_for @agency, :html => { :class => "form-horizontal" } do |f| %>
  <% if not @agency.nil? and @agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>
      <ul>
        <% @agency.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group required">
    <%= f.label( Agency.human_attribute_name("name"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :name, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label( Agency.human_attribute_name("address"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :address, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label( Agency.human_attribute_name("city"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :city, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(Agency.human_attribute_name("state"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :state, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(Agency.human_attribute_name("zipcode"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :zipcode, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(Agency.human_attribute_name("contact"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_field :contact, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label(Agency.human_attribute_name("phone"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.telephone_field :phone, class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <% WebsiteType.all.each do |website_type| %>
      <% website = @agency.websites.find_by(website_type_id: website_type.id) %>
      <%= f.fields_for :website_types, website_types do |website_fields| %>
        <% website_fields.hidden_field :website_type %>
        <% website_type.name %>:  <%= website_fields.text_field :url %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label(Agency.human_attribute_name("description"), class: 'control-label col-md-4') %>
    <div class="controls col-md-8">
      <%= f.text_area(:description, class: 'input-md  textinput textInput form-control') %>
    </div>
  </div>

  <div class="checkbox">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <%= fa_icon cb.fa_name, text: cb.name, left: true %>
      <%= cb.label(class: 'checkbox input_checkbox btn btn-default') {cb.check_box(class: 'checkbox') + cb.text}  %>
    <% end %>
  </div>
</br>

    <div class="panel-inline-body">
      <%= link_to (t'buttons_t.back'), agencies_path, class: 'btn btn-primary' %>
      <%= f.button (t'buttons_t.save'), class: "btn btn-primary btn-info", data: {disable_with: "<i class='fa fa-spinner fa-pulse fa-lg fa-fw'></i> Saving..."} %></br>
    </div>

<% end %> <%# end of form_for %>
