<div class="col-md-3 col-centered sidebar">
  <% if policy(Agency).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to new_agency_path, class: "btn btn-success btn-block" do %>
        <%= fa_icon "plus", text: (t'new_page.h1'), class: "" %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!--panel-info-->
  <div class="panel panel-info">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList">
      <h3 class="panel-title">
        <%= t'category.all_cat' %>
      </h3>
    </div>
    <ul id="collapseList" class="list-group collapse">
      <% @categories.each do |category| %>
        <li class="agency-title list-group-item">
          <!-- If using the block form of link_to you can't have text
          content (the block is your text content). -->
          <%= link_to category_path(category) do %>

            <% if params[:locale] == "en" %>
              <%= fa_icon category.fa_name, text: category.name %>
            <% else %>
              <%= fa_icon category.fa_name, text: category.categoria %>
            <% end %>
            <%= content_tag :span, category.agencies.count, :class => "badge" %>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item-info">
        <%= link_to 'See All Categories', categories_path %>
      </li>
    </ul>
  </div><!--/panel-->

  <% if policy(Category).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to new_category_path, class: "btn btn-success btn-block" do %>
        <%= fa_icon "plus", text: (t'category.new_cat') %>
      <% end %>
    </div>
  </div>
  <% end %>
</div><!-- end col-md-3 sidebar-->
