<div class="col-md-2">
  <div class="col-*-12 sidebar-btn">
    <% if policy(Agency).new? %>

        <%= link_to new_agency_path, class: "btn btn-success btn-block" do %>
          <%= fa_icon "plus", text: (t'new_page.h1')%>
        <% end %>
    <% end %> <!-- Button to add new agency -->
  </div>

  <!-- Small modal -->
  <div class="col-*-12 sidebar-btn">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm"><%= fa_icon("tags") %> <%= t'category.all_cat' %></button>
  </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= t'category.all_cat' %></h4>
          </div>
          <ul class="list-group">
            <% @categories.each do |category| %>
            <li class="list-group-item">
              <!-- If using the block form of link_to you can't have text
              content (the block is your text content). -->
              <%= link_to category_path(category) do %>
              <% if params[:locale] == "en" %>
              <%= fa_icon category.fa_name, text: category.name %>
            <% else %>
              <%= fa_icon category.fa_name, text: category.categoria %>
              <% end %>
              <%= content_tag :span, category.agencies.count, class: "badge pull-right" %>
              <% end %>
            </li>
            <% end %>

            <li class="list-group-item">
              <%= link_to (t'category.sidebar'), categories_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>


  <div class="col-*-12 sidebar-btn">
    <% if policy(Category).new? %>
      <%= link_to new_category_path, class: "btn btn-success btn-block" do %>
        <%= fa_icon "plus", text: (t'category.new_cat') %>
      <% end %>
    <% end %>
  </div>

  <!-- button -->
    <div class="col-*-12 sidebar-btn" data-toggle="buttons">
      <label class="btn btn-lg btn-info active show-map">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        <i class="fa fa-map"></i> Hide map
      </label>
      <label class="btn btn-lg btn-primary show-map">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <i class="fa fa-map-marker"></i> Show map
      </label>
    </div>
</div><!-- end col-md-3 sidebar-->
