<div class="col-md-3 col-centered">
  <div class="panel">
    <div class="panel-body">
      <%= form_tag agencies_path, method: :get, class: 'search-form', id: 'agency-lookup-form', data: { behaviors: 'turboform' } do %>
      <div class="input-group">
        
        <%= text_field_tag :search, params[:search], placeholder: (t'search_page.plchldr_search'), :class => 'form-control search-input', autofocus: params[:search].present? %>
        
        <%= text_field_tag :location, params[:location], placeholder: "search by location", :class => 'form-control search-input', autofocus: params[:location].present? %>

        <%# select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class: "form-control input-lg"%>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
          <span class="glyphicon glyphicon-search"></span>
          <%= (t'search_page.bttn_search') %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% if policy(Agency).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to (t'new_page.h1'), new_agency_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
  <% end %>

  <div class="panel">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <%= link_to (t'category.all_cat'), categories_path %>
        </li>
        <% @categories.each do |category| %>
          <li class="agency-title">
            <%= link_to "#{category.name}", category_path(category) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if policy(Category).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to (t'category.new_cat'), new_category_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
  <% end %>
</div><!-- end col-md-3 sidebar-->
