<div class="col-md-3 col-centered">
  <div class="panel">
    <div class="panel-body">
      <%= form_tag agencies_path, method: :get, class: 'search-form', id: 'agency-lookup-form', data: { behaviors: 'turboform' } do %>
      <div class="input-group">

        <%= text_field_tag :search, params[:search], placeholder: (t'search_page.plchldr_search'), :class => 'form-control search-input', autofocus: params[:search].present? %>

        <%= text_field_tag :location, params[:location], placeholder: "Current Location", :class => 'form-control search-input', autofocus: params[:location].present? %>
        <%= hidden_field_tag :coordinates, params[:coordinates]%>

        <%# select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class: "form-control input-lg"%>
        <div class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
          <span class="glyphicon glyphicon-search"></span>
          <%= (t'search_page.bttn_search') %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% if policy(Agency).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to new_agency_path, class: "btn btn-success btn-block" do %>
        <%= fa_icon "plus", text: (t'new_page.h1'), class: "" %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="panel">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <%= link_to (t'category.all_cat'), categories_path %>
        </li>
        <% @categories.each do |category| %>
          <li class="agency-title">
            <!-- If using the block form of link_to you can't have text
            content (the block is your text content). -->
            <%= link_to category_path(category) do %>
              <%= fa_icon category.fa_name %>
              <% if params[:locale] == "en" %>
                <%= fa_icon "chevron-right", text: category.name, right: true %>
              <% else %>
                <%= fa_icon "chevron-right", text: category.categoria, right: true %>
              <% end %>
              <%= content_tag :span, category.agencies.count, :class => "badge" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if policy(Category).new? %>
  <div class="panel">
    <div class="panel-body">
      <%= link_to new_category_path, class: "btn btn-success btn-block" do %>
        <%= fa_icon "plus", text: (t'category.new_cat') %>
      <% end %>
    </div>
  </div>
  <% end %>
  <!-- button -->
  <div class="col-md-pull-4">
      <!-- <a href="#" id="show-map">Show map</a> -->
      <!-- <%= button_tag(type: "button", class: "btn btn-info", id: 'show-map') do %>
        <span class="glyphicon glyphicon-map-marker"></span>
        Show map
      <% end %> -->

    <div class="" data-toggle="buttons">
      <label class="btn btn-lg btn-default active show-map">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        <i class="fa fa-map"></i> Hide map
      </label>
      <label class="btn btn-lg btn-info show-map">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <i class="fa fa-map-marker"></i> Show map
      </label>
      </div>
      <div class="map-responsive" id="index-map" style='width: 100%; height: 350%;'></div>
  </div>
</div><!-- end col-md-3 sidebar-->
