<h1>Edit Agency</h1>

<%= form_for(@agency) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %></br>

<%= f.label :address %>
<%= f.text_area :address %></br>

<%= f.label :city %>
<%= f.text_field :city %></br>

<%= f.label :zipcode %>
<%= f.text_field :zipcode %></br>

<%= f.label :state %>
<%= f.text_field :state %></br>

<%= f.submit "Save changes" %>
<% end %>
