<h1>All agencies</h1>

<% @agencies.each do |agency| %>
	<%= agency.name %></br>
	<%= agency.address %></br>
	<%= agency.city %>,
	<%= agency.state%>
	<%= agency.zipcode %>
	<hr width="100%">
<% end %>
<%= link_to "New", new_agency_path %></br>