<h1>Organizations</h1>

<ul>
  <% @agencies.each do |agency| %>
    <li>
      <h3>
        <%= agency.name %>
      </h3>
      <p>
        <%= agency.address %>
      </p>
      <p>
        <%= agency.city %>, <%= agency.state %> <%= agency.zip_code %>
      </p>
    </li>
  <% end -%>
</ul>
<%= link_to 'New Agency', new_agency_path %>
