<h1><%= (t'home_page.title') %></h1>
<h2><%= (t'home_page.browse') %></h2>

<div class="container">
  <div class="form-horizontal">
      <div class="form-group">
          <%= form_for search_path, method: :get, :html => {:class => "form-horizontal center"} do |f| %>
          <%= text_field_tag :search, params[:search], placeholder: (t'search_page.plchldr_search'), :class => 'form-control search-input' %>
          <%= button_tag(type: "submit", class: "btn btn-info btn-md btn-block center-block", :name => nil) do %>
          <span class="glyphicon glyphicon-search"></span>
          <%= (t'search_page.bttn_search') %> 
          <% end %>
          <% end %>
      </div>
  </div>
</div>

<div class="container visible-block">
  <%= link_to (t'new_page.h1'), new_agency_path, class: "btn btn-primary" %>
</div>
<h1 class="center">Listing all organizations</h1>
<div class="center">
  <%#= will_paginate %>
</div>
<%= render 'agency', obj: @agencies %>
<div class="center">
  <%#= will_paginate %>
</div>
