<h1 class="center"><%= (t'new_page.h1')%></h1>

<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <label><strong style="color: red;"> *</strong> = Required fields</label>
  <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title"><%= (t'new_page.fill_fields') %></div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
    </div>
    <div class="panel-body">
      <div class="individual-import">
        <%= render 'form' %>
      </div>
      <div class="bulk-import">
        <h3>Import Organizations</h3>
        <%= form_tag import_agencies_path, multipart: true do %>
          <%= file_field_tag :file, class: 'form-control', style: 'margin-bottom: 10px;'%>
          <%= submit_tag "Import",  class:"btn btn-primary", data: {disable_with: "Importing... "}%>
        <% end %>
      </div>
    </div> <%#end panel-body%>
  </div> <%# end of panel-info div%>
</div> <%# end of titlebox %>
<%# render 'form' %>
