<h1><%= @agency.name %></h1>

<%= link_to (t'buttons_t.edit'), edit_agency_path %></br>
<%= link_to (t'buttons_t.all_org'), agencies_path %></br>
<%= link_to (t'buttons_t.delete'), @agency, method: :delete, data: { confirm: "Are you sure?" } %>


<div class="col-md-3 col-sm-6">
    <div class="well well-sm well-agency">
        <%= image_tag 'icon' %>

        <!-- <a href="<%= @agency %>" class="lead agency-name">
          <p>
            <%= @agency.name %>
          </p>
        </a> -->
        <p class="lead agency-name">
          <strong>
            <%= link_to @agency.name, @agency, class: "" %>
          </strong>
        </p>

        <address class="agency-address"><%=(t'show_page.address') %><br>
          <p><%= @agency.address %></p>
          <!-- <hr> -->
          <p><%= (t'show_page.state') %> <%= @agency.state %></p>
          <p><%= (t'show_page.zip')%> <%= @agency.zipcode %></p>
        </address>

        <a href="tel:555-555-5555" class="btn btn-default btn-sm btn-link">
            <span class="agency-phone">
                <i class="fa fa-phone fa-lg"></i>
            </span>
        </a>
        <a href="#" class="btn btn-default btn-sm btn-link ">
            <span class="agency-phone">
                <i class="fa fa-envelope fa-lg"></i>
            </span>
        </a>
        <a href="#" class="btn btn-default btn-sm btn-link">
            <span class="agency-phone">
                <i class="fa fa-map-marker fa-lg"></i>
            </span>
        </a>

        <a href="#" class="btn btn-default btn-sm btn-link">
            <span class="agency-facebook">
                <i class="fa fa-facebook fa-lg"></i>
            </span>
        </a>
        <a href="#" class="btn btn-default btn-sm btn-link">
            <span class="agency-twitter">
                <i class="fa fa-twitter fa-lg"></i>
            </span>
        </a>
        <a href="#" class="btn btn-default btn-sm btn-link">
            <span class="agency-instagram">
                <i class="fa fa-instagram fa-lg"></i>
            </span>
        </a>
        <a href="#" class="btn btn-default btn-sm btn-link">
            <span class="agency-youtube">
                <i class="fa fa-youtube fa-lg"></i>
            </span>
        </a>
    </div>
</div>

<div>
<%= link_to agencies_path, :class => "btn btn-info btn-md" do %>
  <span class="glyphicon glyphicon-chevron-left"></span>Back</br>
<% end %>
</div>
