<h1><%= @agency.name %></h1>

	<%= @agency.address %>
	<%= @agency.city %>
	<%= @agency.state %>
	<%= @agency.zipcode %></br>

<%= link_to "Edit", edit_agency_path %></br>
<%= link_to "All agencies", agencies_path %></br>
<%= link_to "Delete", @agency, method: :delete, data: { confirm: "Are you sure?" } %>