<h1><%= @agency.name %></h1>
	<p>
		<strong>Address: </strong> <%= @agency.address %><br/>
		<strong>City: </strong> <%= @agency.city %><br/>
		<strong>Zipcode: </strong> <%= @agency.zipcode %><br/>
		<strong>State: </strong> <%= @agency.state %><br/>
	</p>
<%= link_to "Edit", edit_agency_path %></br>
<%= link_to "All agencies", agencies_path %></br>
<%= link_to "Delete", @agency, method: :delete, data: { confirm: "Are you sure?" } %>