<script src="//maps.google.com/maps/api/js?key=<%=Rails.application.credentials.google_js_api_key %>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<!-- only if you need custom infoboxes -->
<!-- Script is used to connect to Google API, This nees to be moved to a better location
 since it has been copied in index and show view-->

<div class="row row-centered padding-resize">
<div class="col-centered">
  <div class="panel panel-success">
    <div class="panel-body padding-resize">
      <div class="col-md-6 col-sm-6 padding-resize">
        <div class="well well-sm well-agency">
          <p class="lead agency-name">
            <strong><%= link_to @agency.name, @agency %></strong>
          </p>
          <hr>
          <p><b><%=(t'show_page.address') %></b><br></p>
          <address>
            <%=  @agency.full_address  %>
            <a href="https://www.google.com/maps/dir/Current+Location/<%= @agency.full_address %>" class="btn btn-default btn-sm btn-link" target="_blank">
              <span class="agency-phone">
                <i class="fa fa-map-marker fa-2x"></i>
              </span>
            </a>
          </address>
          <p><b><%= (t'show_page.contact') %></b>
            <%= @agency.contact %>
            <a href="mailto:<%= @agency.email %>" class="btn btn-default btn-sm btn-link">
              <span class="agency-phone">
              <i class="fa fa-envelope fa-2x"></i>
              </span>
            </a>
          </p>
          <div class="phones">
            <b><%= (t'show_page.phone') %></b>
            <div class="phone-numbers">
              <% if !@agency.phone.blank? %>
                <%= @agency.phone %>
                <a href="tel:<%= @agency.phone %>" class="btn btn-default btn-sm btn-link">
                  <span class="agency-phone">
                    <i class="fa fa-phone fa-2x"></i>
                  </span>
                </a>
              <% end %>
              <% if !@agency.mobile_phone.blank? %>
                <%= @agency.mobile_phone %>
                <a href="tel:<%= @agency.mobile_phone %>" class="btn btn-default btn-sm btn-link">
                  <span class="agency-phone">
                    <i class="fa fa-mobile fa-2x"></i>
                  </span>
                </a>
              <% end %>
            </div>
          </div>
          <p><b><%= (t'show_page.description') %></b>
            <% if params[:locale] == "en" %>
              <%= @agency.description %>
            <% else %>
              <%= @agency.descripcion %>
            <% end %>
          </p>
          <hr>
          <% if @agency.websites.present? %>
          <p><b><%= (t'show_page.websites')%></b></p>
            <% @agency.websites.each do |website| %>
              <a href="<%= website.url %>" class="btn btn-default btn-sm btn-link">
                  <span class="agency-facebook">
                      <i class="fa fa-<%= website.website_type.icon %> fa-2x"></i>
                  </span>
              </a>
            <% end %>
          <% end %>
          <% if @agency.categories.any? %>
              <!-- Same effect @agency.categories.each do etc...(using partial instead) -->
              <p><b><%= (t'category.categories') %></b></p>
              <% @agency.categories.each do |category|%>
                <div class="category">
                  <% if params[:locale] == "en" %>
                      <%= link_to category do %>
                          <%= fa_icon category.fa_name, text: category.name, left: true %>
                      <% end %>
                  <% else %>
                      <%= link_to category do %>
                          <%= fa_icon category.fa_name, text: category.categoria, left: true %>
                      <% end %>
                  <% end %>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>

      <!-- Code here is used to build the map by google-maps-for-rails-->
      <div class="col-md-6 col-sm-6 padding-resize">
        <div class="well-sm">
          <div class="map-responsive" id="show-map" style='width: 100%; height: 400px;'></div>
        </div>
      </div>
    </div>
    <!-- end of panel body -->
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
          <%= link_to agencies_path, class: 'btn btn-primary' do %>
          <i class="fa fa-university" aria-hidden="true"></i>
          <%= (t'buttons_t.all_org')%>
          <% end %>
        </div>

        <% if policy(@agency).edit? %>
        <div class="btn-group" role="group">
          <%= link_to edit_agency_path(@agency), class: 'btn btn-info' do %>
          <i class="fa fa-pencil-square-o"></i>
          <%= (t'buttons_t.edit')%><% end %>
        </div>
        <% end %>

        <% if policy(@agency).destroy? %>
        <div class="btn-group" role="group">
          <%= link_to agency_path(@agency), method: :delete,
                class: 'btn btn-danger', data: { confirm: 'Are you sure?'} do %>
          <i class="fa fa-trash-o"></i>
          <%= (t'buttons_t.delete')%>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
  provider: {},
  internal: {
    id: 'show-map'
  }
}, function () {
  markers = handler.addMarkers(<%=raw @hash.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(14);
});
</script>
