<div class="container" id="pages">
  <h2><%= (t'pages.privacy.h2') %></h2>
  <p><%= (t'pages.privacy.p1') %></p>
  <p><%= (t'pages.privacy.p2') %></p>
  <p><%= (t'pages.privacy.p3') %></p>
  <p><%= (t'pages.privacy.p4') %></p>

  <p><strong><%= (t'pages.privacy.p5') %></strong></p>
  <p><%= (t'pages.privacy.p6') %></p>
  <p><%= (t'pages.privacy.p7') %></p>
  <p><%= (t'pages.privacy.p8') %></p>
  <div>
    <p><%= (t'pages.privacy.p9') %>:</p>
    <ul>
      <li><a href="https://www.google.com/policies/privacy/" target="_blank"><%= (t'pages.privacy.p10') %></a></li>
    </ul>
  </div>

  <p><strong><%= (t'pages.privacy.p11') %></strong></p>
  <p><%= (t'pages.privacy.p12') %></p>

  <p><strong>Cookies</strong></p>
  <p><%= (t'pages.privacy.p13') %></p>
  <p><%= (t'pages.privacy.p14') %></p>

  <p><strong><%= (t'pages.privacy.p15') %></strong></p>
  <p><%= (t'pages.privacy.p16') %>:</p>
  <ul>
    <li><%= (t'pages.privacy.p17') %>;</li>
    <li><%= (t'pages.privacy.p18') %>;</li>
    <li><%= (t'pages.privacy.p19') %>; <%= (t'pages.privacy.p20') %></li>
    <li><%= (t'pages.privacy.p21') %></li>
  </ul>
  <p><%= (t'pages.privacy.p22') %></p>

  <p><strong><%= (t'pages.privacy.p23') %></strong></p>
  <p><%= (t'pages.privacy.p24') %></p>

  <p><strong><%= (t'pages.privacy.p25') %></strong></p>
  <p><%= (t'pages.privacy.p26') %></p>

  <p><strong><%= (t'pages.privacy.p27') %></strong></p>
  <p><%= (t'pages.privacy.p28') %></p>

  <p><strong><%= (t'pages.privacy.p29') %></strong></p>
  <p><%= (t'pages.privacy.p30') %></p>

  <p><strong><%= (t'pages.privacy.p31') %></strong></p>
  <p><%= (t'pages.privacy.p32') %></p>
</div>
