<% if controller.action_name == 'new' || controller.action_name == 'create'%>
  <% url = agency_agency_update_requests_path %>
<% else %>
  <% url = agency_update_request_path%>
<% end %>

<%= form_for @agency_update_request, :html => { :class => "form-horizontal" }, url: url do |f| %>
  <% if not @agency_update_request.nil? and @agency_update_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency_update_request.errors.count, "error") %> prohibited this agency from being saved:</h2>
      <ul>
        <% @agency_update_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group required">
    <%= f.label "Name", class: 'required control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :name, placeholder: 'name', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Nombre", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :nombre, placeholder: 'nombre', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Address", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :address, placeholder: 'address', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "City", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :city, placeholder: 'city', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "State", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :state, placeholder: 'state', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Zip Code", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :zipcode, placeholder: 'zipcode', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "County", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :county, placeholder: 'county', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Contact Person", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :contact, placeholder: 'contact', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Email", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_field :email, placeholder: 'email', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Phone", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.telephone_field :phone, placeholder: 'phone', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group required">
    <%= f.label "Cell Phone", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.telephone_field :mobile_phone, placeholder: 'mobile_phone', class: 'input-md  textinput textInput form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Description", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_area(:description, placeholder: 'description', class: 'input-md  textinput textInput form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Descripcion(es)", class: 'control-label col-md-4' %>
    <div class="controls col-md-8">
      <%= f.text_area(:descripcion, placeholder: 'descripcion', class: 'input-md  textinput textInput form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label(:status, class: 'control-label col-md-4') %>
    <%= f.select(:status, options_for_select([["Submit","submitted"], ["Approve", "approved"], ["Reject", "rejected"]], @agency_update_request.status)) %>
  </div><br>

  <div class="panel-inline-body">
    <%= link_to (t'buttons_t.back'), agency_update_requests_path, class: 'btn btn-primary' %>
    <%= f.button (t'buttons_t.save'), class: "btn btn-primary btn-info",
      data: {disable_with:
      "<i class='fa fa-spinner fa-pulse fa-lg fa-fw'></i> Saving..."} %><br>
  </div>

<% end %>
