<section class="header-container">
  <%= render partial: "app/#{ENV['APP_NAME']}/header_container" %>
</section>

<section class="top-background" id="top-background">
  <div class="sub-menu-container">
    <div class="organizations-title">
        <h1 id="organizations"><%= (t'footer.organization-updates')%></h1>
    </div>
  </div>
</section>

<section class="container-fluid" id="section3">
  <div class="flex-row row">
    <% @agency_update_requests.each do |agency| %>
    <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6 card">
      <div class="col-xs-12 well well-sm well-agency">
        <div class="card_title">
          <p class="lead agency-name">
            <strong>
              <% if params[:locale] == 'en' %>
                <%= link_to agency.name, controller: 'agency_update_requests', action: 'edit', id: agency.id%>
              <% else %>
                <%= link_to agency.nombre, controller: 'agency_update_requests', action: 'edit', id: agency.id%>
              <% end %>
            </strong>
          </p>
        </div>
        <div>
        <hr>
        <p><%=(t'show_page.address') %></p>
        <address>
          <%= agency.address %>
          <a href="https://www.google.com/maps/dir/Current+Location/<%= agency.address %>" class="btn btn-default btn-sm btn-link" target="_blank">
            <span class="agency-phone">
              <i class="fa fa-map-marker fa-2x"></i>
            </span>
          </a>
        </address>
        <p><%= t'show_page.county' %>
          <small>
            <% if agency.county.present? %>
              <%= agency.county %>
            <%else%>
             <%=t'show_page.no_info'%>
             <%end%>
          </small>
        </p>
        <!-- check HTML in this agency card   -->
        <p><%= AgencyUpdateRequest.human_attribute_name("contact") %><br>
          <div id="agency-attributes">
            <%= agency.contact %>
            <a href="mailto:<%= agency.email %>" class="btn btn-default btn-sm btn-link">
              <span class="agency-phone">
              <i class="fa fa-envelope fa-2x"></i>
              </span>
            </a>
          </div>
        </p>
        <p><%= AgencyUpdateRequest.human_attribute_name("phone") %> <br>
          <div id="agency-attributes">
            <% if agency.phone.blank? && agency.mobile_phone.blank? %>
              <p id="agency-attributes">No phones yet!</p>
            <% else %>
              <% if !agency.phone.blank? %>
                <%= agency.phone %>
                <a href="tel:<%= agency.phone %>" class="btn btn-default btn-sm btn-link">
                  <span class="agency-phone">
                    <i class="fa fa-phone fa-2x"></i>
                  </span>
                </a>
              <% end %>
              <% if !agency.mobile_phone.blank? %>
                <%= agency.mobile_phone %>
                <a href="tel:<%= agency.mobile_phone %>" class="btn btn-default btn-sm btn-link">
                  <span class="agency-phone">
                    <i class="fa fa-mobile fa-2x"></i>
                  </span>
                </a>
              <% end %>
            <% end %>
          </div>
        </p>
        </div>
          <hr>
          <span style="color: #e36419"><%= agency.agency.name%></span> -
          <span><%= agency.status%></span>
          <% if false %>
              <!-- Same effect agency.categories.each do etc...(using partial instead) -->
              <p><%= (t'category.categories') %></p>
              <% agency.categories.each do |category| %>
                <div class="category">
                  <% if params[:locale] == "en" %>
                      <%= link_to category_path(category) do %>
                          <%= fa_icon category.fa_name, text: category.name, left: true %>
                      <% end %>
                  <% else %>
                      <%= link_to category_path(category) do %>
                          <%= fa_icon category.fa_name, text: category.categoria, left: true %>
                      <% end %>
                  <% end %>
                </div>
              <% end %>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</section>
