<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new organization update request from <%= @agency.name %>!</p>
    <p>
    Update Request Details<br>
    --------------------------
    </p>
    <p>Organization Name: <%= @agency.name %></p>
    <p>Submitted by: <%= @aur.submitted_by %></p>
    <p>Phone: <a href="tel:<%=@aur.phone%>"><%= @aur.phone %></a></p>
    <p>Email: <a href = "mailto:<%=@aur.submitter_email%>"><%= @aur.submitter_email %></a></p>
  </body>
</html>
