<h2 class="page-heading"><%= (t'pages.privacy2.h2') %></h2>
<p><%= (t'pages.privacy2.p1') %></p>
<p><%= (t'pages.privacy2.p2') %></p>
<p><%= (t'pages.privacy2.p3') %></p>
<p><%= (t'pages.privacy2.p4') %></p>

<% if false %>
<p><strong><%= (t'pages.privacy2.p5') %></strong></p>
<p><%= (t'pages.privacy2.p6') %></p>
<p><%= (t'pages.privacy2.p7') %></p>
<p><%= (t'pages.privacy2.p8') %></p>
<div>
  <p><%= (t'pages.privacy2.p9') %>:</p>
  <ul>
    <li><a href="https://www.google.com/policies/privacy2/" target="_blank"><%= (t'pages.privacy2.p10') %></a></li>
  </ul>
</div>

<p><strong><%= (t'pages.privacy2.p11') %></strong></p>
<p><%= (t'pages.privacy2.p12') %></p>

<p><strong>Cookies</strong></p>
<p><%= (t'pages.privacy2.p13') %></p>
<p><%= (t'pages.privacy2.p14') %></p>

<p><strong><%= (t'pages.privacy2.p15') %></strong></p>
<p><%= (t'pages.privacy2.p16') %>:</p>
<ul>
  <li><%= (t'pages.privacy2.p17') %>;</li>
  <li><%= (t'pages.privacy2.p18') %>;</li>
  <li><%= (t'pages.privacy2.p19') %>; <%= (t'pages.privacy2.p20') %></li>
  <li><%= (t'pages.privacy2.p21') %></li>
</ul>
<p><%= (t'pages.privacy2.p22') %></p>

<p><strong><%= (t'pages.privacy2.p23') %></strong></p>
<p><%= (t'pages.privacy2.p24') %></p>

<p><strong><%= (t'pages.privacy2.p25') %></strong></p>
<p><%= (t'pages.privacy2.p26') %></p>

<p><strong><%= (t'pages.privacy2.p27') %></strong></p>
<p><%= (t'pages.privacy2.p28') %></p>

<p><strong><%= (t'pages.privacy2.p29') %></strong></p>
<p><%= (t'pages.privacy2.p30') %></p>

<p><strong><%= (t'pages.privacy2.p31') %></strong></p>
<p><%= (t'pages.privacy2.p32') %></p>

<% end %>
