<h2 class="page-heading"><%= (t'pages.tac2.h2') %></h2>
<p><%= (t'pages.tac2.p1') %></p>
<p><%= (t'pages.tac2.p2') %></p>
<p><%= (t'pages.tac2.p3') %></p>
<p><%= (t'pages.tac2.p4') %></p>
<p><%= (t'pages.tac2.p5') %></p>
<p><%= (t'pages.tac2.p6') %></p>
<p><%= (t'pages.tac2.p7') %></p>
<p><%= (t'pages.tac2.p8') %></p>

<% if false %>
<p><strong><%= (t'pages.tac2.p9') %></strong></p>
<p><%= (t'pages.tac2.p10') %></p>

<p><strong><%= (t'pages.tac2.p11') %></strong></p>
<p><%= (t'pages.tac2.p12') %></p>
<% end %>
