<h2 class="page-heading"><%= (t'pages.tac.h2') %></h2>
<p><%= (t'pages.tac.p1') %></p>
<p><%= (t'pages.tac.p2') %></p>
<p><%= (t'pages.tac.p3') %></p>
<p><%= (t'pages.tac.p4') %></p>
<p><%= (t'pages.tac.p5') %></p>
<p><%= (t'pages.tac.p6') %></p>
<p><%= (t'pages.tac.p7') %></p>
<p><%= (t'pages.tac.p8') %></p>

<p><strong><%= (t'pages.tac.p9') %></strong></p>
<p><%= (t'pages.tac.p10') %></p>

<p><strong><%= (t'pages.tac.p11') %></strong></p>
<p><%= (t'pages.tac.p12') %></p>
