<div class="container-fluid">

<%= simple_form_for @category, html: {class: 'form-horizontal register-form'}, wrapper: :horizontal_form do |f| %>
  <% if not @category.nil? and @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %>
      prohibited this agency from being saved:</h2>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <%#f.use :label_input, class: ''%>
  <% end %>
  <%= f.input_field :name, placeholder: 'English', class: "row" %>
  <%= f.input_field :categoria, placeholder: 'Español' %>

  <%= f.submit (t'buttons_t.save'), class: 'btn btn-primary'%>
<% end %>
</div>