<h1 class="center"><%= (t'category.all_cat')%></h1>

<div class="container">
  <!-- uncomment when pagination gem is added -->
  <%#= will_paginate %>
<% @categories.each do |category| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
      <ul class="list-group">
        <li class="agency-title list-group-item">
          <%= link_to "#{category.name}", category_path(category) %>
        </li>
        <li class="list-group-item"><small><%= pluralize(category.agencies.count, "agency") %></small></li>
      </ul>
      <div class="btn-group btn-group-sm">
      <tr>
          <% if policy(Category).new? %>
            <td>
              <%= link_to edit_category_path(category), class: 'btn btn-info' do %>
              <i class="fa fa-pencil-square-o"></i><%= (t'buttons_t.edit')%>
              <% end %>
            </td>
          <% end %>
      </tr>
      </div>
      </div>
    </div>
  </ul>
<% end %>
<%#= will_paginate %>
</div>
