<% content_for :title do %><%= (t'category.all_cat') %> | Conectate Carolina<% end %>

<h1 class="center"><%= (t'category.all_cat')%></h1>

<div class="container">
  <!-- uncomment when pagination gem is added -->
  <%#= will_paginate %>
<% @categories.each do |category| %>
    <div class="row">
      <div class="well col-md-4 center-block">
      <ul class="list-group">
        <li class="agency-title list-group-item">
          <% if params[:locale] == "en" %>
            <%= link_to category do %>
              <%= fa_icon category.fa_name, text: category.name, left: true %>
            <% end %>
          <% else %>
            <%= link_to category do %>
              <%= fa_icon category.fa_name, text: category.categoria, left: true %>
            <% end %>
          <% end %>
        </li>
        <li class="list-group-item"><small><%= pluralize(category.agencies.count, "organization") %></small></li>
      </ul>
      <div class="btn-group btn-group-sm">
      <tr>
          <% if policy(Category).new? %>
            <td>
              <%= link_to edit_category_path(category), class: 'btn btn-info' do %>
              <i class="fa fa-pencil-square-o"></i><%= (t'buttons_t.edit')%>
              <% end %>
            </td>
          <% end %>
      </tr>
      </div>
      </div>
    </div>
<% end %>
<%#= will_paginate %>
</div>
