<%# add navigation links to this file %>
<li>
<%= link_to mobile_path do %>
  <%= fa_icon 'tablet', text: (t'nav_links.mobile_app') %>
<% end %>
</li>
<li>
<%= link_to about_path do %>
  <%= fa_icon 'list-alt', text: (t'nav_links.about') %>
<% end %>
</li>
<li>
<%= link_to faqs_path do %>
  <%= fa_icon 'question-circle', text: 'FAQ' %>
<% end %>
</li>

<% if params[:locale] == "en" %>
  <li>
  <%= link_to locale: "es" do %>
    <%= fa_icon 'language', text: 'Español' %>
  <% end %>
  </li>
<% else %>
  <li>
  <%= link_to locale: "en" do %>
    <%= fa_icon 'language', text: 'English' %>
  <% end %>
  </li>
<% end %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon 'list', text: (t'category.categories') %></a>
  <ul class="dropdown-menu">
    <li><%= link_to (t'category.all_cat'), categories_path %></li>
    <% Category.all.each do |category| %>
      <% if params[:locale] == "en" %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% else %>
        <li><%= link_to category.categoria, category_path(category) %></li>
      <% end %>
    <% end %>
      <% if policy(Category).new? %>
        <li role="separator" class="divider"></li>
        <li><%= link_to (t'category.new_cat'), new_category_path %></li>
      <% end %>
  </ul>
</li>
<% if Message.unposted.any? %>
  <li>
    <%= link_to user_messages_path do %>
      <%= fa_icon 'bell', text: (t'nav_links.alerts') %>
    <% end %>
  </li>
<% end %>

<%# Admin Dropdown starts here %>
<li class="nav-item dropdown">
  <% if current_user && current_user.admin? %>
    <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon 'user-circle', text: 'Admin'%></a>
    <ul class="dropdown-menu admin-panel" >
      <% if policy(Agency).new? %>
        <li><%= link_to new_agency_path do %>
            <%= fa_icon "plus", text: (t'activerecord.attributes.agency.add_agency')%>
          <% end %>
        </li>
      <% end %>
  
      <% if policy(Category).new? %>
        <li><%= link_to new_category_path do %>
            <%= fa_icon "plus", text: (t'category.add_cat') %>
          <% end %>
        </li>
      <% end %>
   
      <% if policy(Message).index? %>
        <li><%= link_to messages_path, id: "my_messages_link" do %>
          <%= fa_icon "envelope", text: (t'message.all_msg') %>
        <% end %>
        </li>
      <% end %>

      <li><%= link_to agencies_path(format: :csv), class:"dropdown-item" do %>
          <%= fa_icon "download", text: (t'download.agencies') %>
        <% end %>
      </li>

      <li><%= link_to categories_path(format: :csv), class:"dropdown-item" do %>
          <%= fa_icon "download", text: (t'download.categories') %>
        <% end %>
      </li>

      <% if policy(AgencyUpdateRequest).index? %>
        <li><%= link_to agency_update_requests_path, class:"dropdown-item" do %>
            <%= fa_icon "list-alt", text: (t'download.org_update_submissions') %>
          <% end %>
        </li>
      <% end %>

      <li role="separator" class="divider"></li>
      <li><%= link_to destroy_user_session_path, method: 'delete' do %>
            <%= fa_icon "trash", text: (t'nav_links.sign_out') %>
          <% end %>
      </li>
    </ul>
  </li>
<%end%>
