<%# add navigation links to this file %>
<li>
<%= link_to mobile_path do %>
  <%= fa_icon 'tablet', text: (t'nav_links.mobile_app') %>
<% end %>
</li>
<li>
<%= link_to about_path do %>
  <%= fa_icon 'list-alt', text: (t'nav_links.about') %>
<% end %>
</li>
<li>
<%= link_to faqs_path do %>
  <%= fa_icon 'question-circle', text: 'FAQ' %>
<% end %>
</li>

<% if params[:locale] == "en" %>
  <li>
  <%= link_to locale: "es" do %>
    <%= fa_icon 'language', text: 'Español' %>
  <% end %>
  </li>
<% else %>
  <li>
  <%= link_to locale: "en" do %>
    <%= fa_icon 'language', text: 'English' %>
  <% end %>
  </li>
<% end %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon 'list', text: (t'category.categories') %></a>
  <ul class="dropdown-menu">
    <li><%= link_to (t'category.all_cat'), categories_path %></li>
    <% Category.all.each do |category| %>
      <% if params[:locale] == "en" %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% else %>
        <li><%= link_to category.categoria, category_path(category) %></li>
      <% end %>
    <% end %>
      <% if policy(Category).new? %>
        <li role="separator" class="divider"></li>
        <li><%= link_to (t'category.new_cat'), new_category_path %></li>
      <% end %>
  </ul>
</li>
<% if Message.unposted.any? %>
  <li>
    <%= link_to user_messages_path do %>
      <%= fa_icon 'bell', text: (t'nav_links.alerts') %>
    <% end %>
  </li>
<% end %>
<li class="nav-item dropdown">
  <% if current_user %>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-user-circle"></span>
      Admin
    </a>
    <div class="dropdown-menu pl-1" aria-labelledby="navbarDropdown">
      <% if policy(Agency).new? %>
        <%= link_to new_agency_path do %>
          <%= fa_icon "plus", text: "Organization"%>
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <% if policy(Category).new? %>
        <%= link_to new_category_path do %>
          <%= fa_icon "plus", text: (t'category.new_cat')%>
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <% if policy(Message).index? %>
        <%= link_to messages_path, id: "my_messages_link" do %>
          <%= fa_icon "envelope", text: (t'message.all_msg') %>
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to root_path(format: :csv), class:"dropdown-item" do %>
        <%= fa_icon "download", text: ('Export Agency') %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to categories_path(format: :csv), class:"dropdown-item" do %>
        <%= fa_icon "download", text: ('Export Category') %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to agency_update_requests_path, class:"dropdown-item" do %>
        <%= fa_icon "pencil", text: ('Organization Updates') %>
      <% end %>
      <div class="dropdown-divider"></div>
    </div>
  <%end%>
</li>
