<%# add navigation links to this file %>
<li>
<%= link_to mobile_path do %>
  <%= fa_icon 'tablet', text: (t'nav_links.mobile_app') %>
<% end %>
</li>
<li>
<%= link_to about_path do %>
  <%= fa_icon 'list-alt', text: (t'nav_links.about') %>
<% end %>
</li>
<li>
<%= link_to faqs_path do %>
  <%= fa_icon 'question-circle', text: 'FAQ' %>
<% end %>
</li>

<% if params[:locale] == "en" %>
  <li>
  <%= link_to locale: "es" do %>
    <%= fa_icon 'language', text: 'Español' %>
  <% end %>
  </li>
<% else %>
  <li>
  <%= link_to locale: "en" do %>
    <%= fa_icon 'language', text: 'English' %>
  <% end %>
  </li>
<% end %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon 'list', text: (t'category.categories') %></a>
  <ul class="dropdown-menu">
    <li><%= link_to (t'category.all_cat'), categories_path %></li>
    <% Category.all.each do |category| %>
      <% if params[:locale] == "en" %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% else %>
        <li><%= link_to category.categoria, category_path(category) %></li>
      <% end %>
    <% end %>
      <% if policy(Category).new? %>
        <li role="separator" class="divider"></li>
        <li><%= link_to (t'category.new_cat'), new_category_path %></li>
      <% end %>
  </ul>
</li>
<% if Message.unposted.any? %>
  <li>
    <%= link_to user_messages_path do %>
      <%= fa_icon 'bell', text: (t'nav_links.alerts') %>
    <% end %>
  </li>
<% end %>
<li class="dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-download"></span>
    Downloads
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%=link_to 'Agencies CSV', root_path(format: :csv), class:"dropdown-item"%>
    <div class="dropdown-divider"></div>
  </div>
</li>
