<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SAF | Conectate Carolina" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Student action with farmworkers" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('CCLogo.png') %>
  </head>
  <body>
    <header>
      <%= render "app/#{ENV['APP_NAME']}/navigation" %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    
  </body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19931712-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-19931712-3');
</script>
  <%= render "app/#{ENV['APP_NAME']}/app_footer" %>

</html>
