<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SAFW | Conectate Carolina" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Student action with farmworkers" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96407024-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
  <div class="mobile-app-links">
    <h2>Get the App. It's Free</h2>
    <p>Start discovering new resources around <br/> you on the go right at your finger tip.</p>
    <div class="mobile-apps">
      <%= link_to image_tag("app-store.svg"), "#" %>
      <%= link_to image_tag("google-play.svg"), "#" %>
    </div>
  </div>
  <footer id='myFooter'>
    <%= render 'layouts/footer' %>
  </footer>
</html>
